<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>checker</servlet-name>
        <servlet-class>server.HostCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hosts-list</servlet-name>
        <servlet-class>server.HostsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>server.ClearDatabaseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checker</servlet-name>
        <url-pattern>/checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hosts-list</servlet-name>
        <url-pattern>/hosts-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>
</web-app>
